<div id="Header">

    <div id="Logo">
        <div id="LogoContent">
           <img  id="logo"  src="../../images/logo-topbar.gif" />
        </div>
    </div>

    <div id="Menu">
        <div id="MenuContent">
            <label id="cart"><img align="middle" name="img_cart" src="../../images/cart.gif" /></label>
            <img align="middle" src="../../images/separator.gif" />
            <label >
                <input type="button" value="Sign In"  id="signIn">
               
            </label>
          
                <label >
                    <input type="button" value="Sign Out"  id="signOut">
                    <img align="middle" src="../../images/separator.gif" />
                    <input type="button" value="My Account"  id="myAccount">
                  
                </label>
             
            </label>

            <img align="middle" src="../../images/separator.gif" />
            <a href="help.html">?</a>
        </div>
    </div>

    <div id="Search">
        <div id="SearchContent">
            <form >
                <input type="text" name="keyword" id="keyword" size="14" />
                <input type="button" id="searchP" name="searchProducts" value="Search" />
            </form>
        </div>
    </div>

    <div id="QuickLinks">
        <a href="./catalog-list.html?id=FISH&route=product">
            <img src="../../images/sm_fish.gif" />
        </a>
        <img src="../../images/separator.gif" />
        <a href="./catalog-list.html?id=DOGS&route=product">
            <img src="../../images/sm_dogs.gif" />
        </a>
        <img src="../../images/separator.gif" />
        <a href="./catalog-list.html?id=REPTILES&route=product">
            <img src="../../images/sm_reptiles.gif" />
        </a>
        <img src="../../images/separator.gif" />
        <a href="./catalog-list.html?id=CATS&route=product">
            <img src="../../images/sm_cats.gif" />
        </a>
        <img src="../../images/separator.gif" />
        <a href="./catalog-list.html?id=BIRDS&route=product">
            <img src="../../images/sm_birds.gif" />
        </a>
    </div>

</div>