<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <%= require('./common/head.htm')%>
</head>
<body>
    <%= require('./common/header.htm')%>

    <div id="Content">

        <div id="Catalog">
            <form >
                <p>Please enter your username and password.</p>
                <p>
                    Username:<input id="username" type="text" th:name="username" value="j2ee"/>
                    <br/>
                    Password:<input  id="password" type="password" th:name="password" value="j2ee"/>
                    <br/>
                </p>
                <p id="loginMsg">Wrong username or password</p>
                <input id="submit" type="button" value="Login"/>
            </form>
            Need an Account?<a  id="register" href="./user-register.html">Register</a>
        </div>
    </div>
    
    <%= require('./common/footer.htm')%>
</body>
</html>
